.bundle
db/*.sqlite3
log/*.log
tmp/**/*
db/schema.sql
.DS_Store
public/attachments/*
public/documents/*
public/photos/*
public/avatars/*
public/message_attachments/*
config/development.sphinx.conf
db/sphinx/*
db/sphinx/development/*
.sqlite3
log/sqlite/development.sqlite3
log/sqlite/production.sqlite3
