<div class="rull_row">
	<div class="admin_form_wrap">
		<h1>
			Edit <%= @blog.title %>
		</h1>
		<%= render 'form' %>
		<%= link_to 'Show', @blog %> |
		<%= link_to 'Back', blogs_path %>
	</div>
</div>