/*
HTML5 ✰ Boilerplate
style.css contains a reset,font normalization and some base styles.
credit is left where credit is due.
much inspiration was taken from these projects:yui.yahooapis.com/2.8.1/build/base/base.css
camendesign.com/design/
praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | Authors:Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/
*/
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
/* tables still need cellspacing="0" in the markup */
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
/* END RESET CSS */
/* fonts.css from the YUI Library:developer.yahoo.com/yui/
Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
There are three custom edits:* remove arial,helvetica from explicit font stack
* we normalize monospace styles ourselves
* table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body{font:13px/1.231 sans-serif;*font-size:small;}
/* hack retained to preserve specificity */
select,input,textarea,button{font:99% sans-serif;}
/* normalize monospace sizing
* en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
*/
pre,code,kbd,samp{font-family:monospace,sans-serif;}
/*
* minimal base styles
*/
body,select,input,textarea{/* #444 looks better than black:twitter.com/H_FJ/statuses/11800719859 */
color:#444;}
/* Headers (h1,h2,etc) have no default font-size or margin,
you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6{font-weight:bold;}
/* always force a scrollbar in non-IE */
html{overflow-y:scroll;}
/* Accessible focus treatment:people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active{outline:none;}
a,a:active,a:visited{color:#607890;}
a:hover{color:#036;}
ol{margin-left:1.8em;}
ol{list-style-type:decimal;}
li{list-style:none;}
/* Remove margins for navigation lists */
nav ul,nav li{margin:0;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td,td img{vertical-align:top;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
pre{padding:15px;/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
white-space:pre;/* CSS2 */
white-space:pre-wrap;/* CSS 2.1 */
white-space:pre-line;/* CSS 3 (and 2.1 as well,actually) */
word-wrap:break-word;/* IE */}
textarea{overflow:auto;}
/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend,.ie7 legend{margin-left:-7px;}
/* thnx ivannikolic! */
/* align checkboxes,radios,text inputs with their label
by:Thierry Koblentz tjkdesign.com/ez-css/css/base.css */
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
/* hand cursor on clickable input elements */
label,input[type=button],input[type=submit],button{cursor:pointer;}
/* webkit browsers add a 2px margin outside the chrome of form elements */
button,input,select,textarea{margin:0;}
/* colors for form validity */
input:valid,textarea:valid{}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid{background-color:#f0dddd;}
/* These selection declarations have to be separate.
No text-shadow:twitter.com/miketaylr/status/12228805301
Also:hot pink. */
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none;}
::selection{background:#FF5E99;color:#fff;text-shadow:none;}
/* j.mp/webkit-tap-highlight-color */
a:link{-webkit-tap-highlight-color:#FF5E99;}
/* make buttons play nice in IE:www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button{width:auto;overflow:visible;}
/* bicubic resizing for non-native sized IMG:code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img{-ms-interpolation-mode:bicubic;}
/***Firefox dotted line tweak***/
a{outline:none;}
:focus{-moz-outline-style:none;}
a:active{outline:none;}
/*
* Non-semantic helper classes
*/
/* for image replacement */
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
/* Hide for both screenreaders and browsers
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden{display:none;visibility:hidden;}
/* Hide only visually,but have it available for screenreaders
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden */
.visuallyhidden{position:absolute !important;clip:rect(1px 1px 1px 1px);/* IE6,IE7 */
clip:rect(1px,1px,1px,1px);}
/* Hide visually and from screenreaders,but maintain layout */
.invisible{visibility:hidden;}
/* >> The Magnificent CLEARFIX:Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
/* Fix clearfix:blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix{zoom:1;}
.hide_text {text-indent: -3000em;}
/*************************************************************************************************************************************/
/******************************************************************************************************* SITE SPECIFIC STYLES ********/
html, body {
  position: relative;
	background: #ddd url(../images/general/bg.png) left top repeat;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight:300;
  font-stretch:normal;
  text-rendering: optimizeLegibility;
}
@font-face {  
  font-family: "HelveticaNeue";  
  src: url(../fonts/helveticaneue-webfont.eot); /* IE */  
  src: local("HeleveticaNeue"), url(../fonts/helveticaneue-webfont.ttf) format("truetype"); /* non-IE */
  font-weight: 100;
}
@font-face {
	font-family: 'LiberationSansRegular';
	src: url('fonts/LiberationSans-Regular-webfont.eot');
	src: local('☺'), url('fonts/LiberationSans-Regular-webfont.woff') format('woff'), url('fonts/LiberationSans-Regular-webfont.ttf') format('truetype'), url('fonts/LiberationSans-Regular-webfont.svg#webfontLfr8h6FA') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSansItalic';
	src: url('fonts/LiberationSans-Italic-webfont.eot');
	src: local('☺'), url('fonts/LiberationSans-Italic-webfont.woff') format('woff'), url('fonts/LiberationSans-Italic-webfont.ttf') format('truetype'), url('fonts/LiberationSans-Italic-webfont.svg#webfont8TmwkzPJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSansBold';
	src: url('fonts/LiberationSans-Bold-webfont.eot');
	src: local('☺'), url('fonts/LiberationSans-Bold-webfont.woff') format('woff'), url('fonts/LiberationSans-Bold-webfont.ttf') format('truetype'), url('fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSansBoldItalic';
	src: url('fonts/LiberationSans-BoldItalic-webfont.eot');
	src: local('☺'), url('fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'), url('fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'), url('fonts/LiberationSans-BoldItalic-webfont.svg#webfont8uGO27Bu') format('svg');
	font-weight: normal;
	font-style: normal;
}
#wrapper {
  position: relative;
  text-align: left;
	width: 960px;
	margin: 0px auto;
}
/*************************************************************************************************************************************/
/******************************************************************************************************* COLORS **********************/
.blue {color:#3058bf;}
.gold {color:#edbe02;}

/*************************************************************************************************************************************/
/******************************************************************************************************* ERRORS **********************/
#flash{position:absolute;text-align:center;color:#fff;left:38%;padding:2px;top:5px;width:385px;background:#00853f;font-size:175%;z-index:100;}
.fieldWithErrors{padding:2px;background-color:red;display:table;}
#errorExplanation{position:absolute;top:-55px;left:0%;width:100%;border:2px solid red;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;}
#errorExplanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:125%;margin:-7px;background-color:#c00;color:#fff;}
#errorExplanation p{color:#333;margin-bottom:0;padding:5px;}
#errorExplanation ul li{font-size:12px;list-style:square;}
/******JS Form Errors********/
input.error,textarea.error{border:2px solid #DB0404;margin:0px;padding:1px;}
label.error{background:#FFFFFF none repeat scroll 0 0;color:#DB0404;font-size:85%;font-weight:bold;margin-left:35px;margin-top:3px;padding:0;position:absolute;}

/*************************************************************************************************************************************/
/******************************************************************************************************* HEADER **********************/
header {
  position: relative;
  height: 95px;
}
#logo a {
  color: #ddd;
  display: block;
  font-family: "LiberationSansBold";
  font-size: 36px;
  font-weight: 400;
  height: 30px;
  letter-spacing: -1px;
  padding-top: 20px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000000;
  width: 300px;
}
/*************************************************************************************************************************************/
/******************************************************************************************************* MAIN NAV ********************/
#main_nav{position:absolute;bottom:0px;left:0px;height:40px;background:url(../images/header/nav_bg.png) repeat-x; width:960px;}
ul.nav_ul{margin-left:2px;}
ul.nav_ul li{width:105px;height:40px;float:left;text-align:center;border-left:1px solid #444444;}
ul.nav_ul li.last{border-right:1px solid #444444;}
ul.nav_ul li span.hover{position:absolute;top:0px;left:0px;width:105px;height:40px;display:block;}

.nav1 { background: url(../images/header/main_nav_sprite.png) 0px -80px; }
.nav1.highlight:hover, li.nav1 span.hover { background: url(../images/header/main_nav_sprite.png) 0px -40px;}
#main_nav ul li a#home.active { background: url(../images/header/main_nav_sprite.png) 0px 0px; }

.nav2 { background: url(../images/header/main_nav_sprite.png) -104px -80px; }
.nav2.highlight:hover, li.nav2 span.hover { background: url(../images/header/main_nav_sprite.png) -104px -40px; }
#main_nav ul li a#services.active { background: url(../images/header/main_nav_sprite.png) -104px 0px;}

.nav3 { background: url(../images/header/main_nav_sprite.png) -208px -80px; }
.nav3.highlight:hover, li.nav3 span.hover { background: url(../images/header/main_nav_sprite.png) -208px -40px;}
#main_nav ul li a#benefits.active { background: url(../images/header/main_nav_sprite.png) -208px 0px;}

.nav4 { background: url(../images/header/main_nav_sprite.png) -312px -80px; }
.nav4.highlight:hover, li.nav4 span.hover { background: url(../images/header/main_nav_sprite.png) -312px -40px; }
#main_nav ul li a#markets.active { background: url(../images/header/main_nav_sprite.png) -312px 0px; }

.nav5 { background: url(../images/header/main_nav_sprite.png) -414px -80px; }
.nav5.highlight:hover, li.nav5 span.hover { background: url(../images/header/main_nav_sprite.png) -414px -40px; }
#main_nav ul li a#resources.active { background: url(../images/header/main_nav_sprite.png) -414px 0px; }

.nav6 { background: url(../images/header/main_nav_sprite.png) -520px -80px; }
.nav6.highlight:hover, li.nav6 span.hover { background: url(../images/header/main_nav_sprite.png) -520px -40px; }
#main_nav ul li a#nucleus.active { background: url(../images/header/main_nav_sprite.png) -520px 0px;}

.nav7 { background: url(../images/header/main_nav_sprite.png) -622px -80px; }
.nav7.highlight:hover, li.nav7 span.hover { background: url(../images/header/main_nav_sprite.png) -622px -40px; }
#main_nav ul li a#free_trial.active { background: url(../images/header/main_nav_sprite.png) -622px 0px; }

.nav8 { background: url(../images/header/main_nav_sprite.png) -728px -80px; }
.nav8.highlight:hover, li.nav8 span.hover { background: url(../images/header/main_nav_sprite.png) -728px -40px; }
#main_nav ul li a#about_us.active { background: url(../images/header/main_nav_sprite.png) -728px 0px; }

.nav9 { background: url(../images/header/main_nav_sprite.png) -832px -80px; }
.nav9.highlight:hover, li.nav9 span.hover { background: url(../images/header/main_nav_sprite.png) -832px -40px; }
#main_nav ul li a#contact.active { background: url(../images/header/main_nav_sprite.png) -832px 0px; }

ul#main_nav_ul li a{color:#ABABAB;display:block;height:40px;padding:0;text-decoration:none;text-indent:-3000em;width:105px;position:relative;}

/*************************************************************************************************************************************/
/******************************************************************************************************* CONTENT *********************/
#bd {
  background: #000;
  border-top:1px solid #222;
  width: 960px;
}
/*****************************************************************************************************************/
/*********************************************************************************** BANNERS *********************/
#banner {
  position: relative;
  float: left;
  width: 960px;
}
#banner.large {
  height: 500px;
  background: url(../images/banners/main_banner_background-large.png) left bottom no-repeat;
}
/*********************************************************************************************/
/*************************************************************** BANNER SCROLLER  ************/
#slider {
  height: 500px;
  position: relative;
}
.scroll {
  margin: 0px 0px 0px 14px;
  height: 483px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  width: 945px;
  height: 483px;
}
.panel {
  position: relative;
  width: 945px;
  height: 483px;
}
.panel img.home_banner {
  height: 483px;
  left: 0;
  position: absolute;
  top: 0;
  width: 928px;
}
.banner_cta_wrap {
  color: #333333;
  height: 95px;
  left: 452px;
  position: relative;
  top: 290px;
  width: 385px;
}
.banner_cta_wrap h3, .banner_cta_wrap p, .banner_cta_wrap .text_link  {
  float: left;
  width: 226px;
  margin-left: 5px;
}
.banner_cta_wrap p {
  margin: 5px;
}
.main_link {
  border: medium none;
  display: block;
  float: left;
  height: 95px;
  margin-right: 10px;
  width: 139px;
}
.banner_cta_wrap .text_link {
  text-decoration: none;
}
.banner_cta_wrap .text_link:hover {
  text-decoration: underline;
}
.banner_cta_wrap img {
  box-shadow: 0px 1px 2px #666666;
  -moz-box-shadow:0 1px 2px #666666;
  -webkit-box-shadow: rgb(102, 102, 102) 0px 1px 2px;
  background: none repeat scroll 0 0 #EFEFEF;
  border: 1px solid #DEDEDE;
  float: left;
  margin: 6px;
  padding: 4px;
}
/***************************************************************** BANNER NAVIGATION *********/
.index_banner_nav {
  background: url("../images/banners/index_banner_nav/index_banner_nav_bg.png") no-repeat scroll 0 0 transparent;
  border-top: 1px solid #FFFFFF;
  bottom: 16px;
  height: 47px;
  left: 25px;
  position: absolute;
  width: 934px;
  
/*  background: none repeat scroll 0 0 #000000;
  bottom: 2px;
  height: 45px;
  left: 13px;
  position: absolute;
  width: 927px;*/
}
.index_banner_headline {
  float: left;
  height: 27px;
  padding-top: 16px;
  color: #6d6e71;
  text-align: right;
  margin-left: 100px;
}
.index_banner_nav ul {
  margin-left: 185px;
}
.index_banner_nav ul li {
  position: relative;
  float: left;
  width: 78px;
  height: 45px;
  border: none;
}
.index_banner_nav ul li a {
  position: relative;
  width: 76px;
  height: 45px;
  display: block;
}
.index_banner_nav ul li a span.hover {
  position: absolute;
  width: 77px;
  height: 40px;
  left: 0px;
  top: 0px;
  display: block;
}
/*#index_banner_nav_ul .b_nav1 a {
  background: url('../images/banners/index_banner_nav/new/who_small.png') 0px 0px no-repeat;
}*/
#index_banner_nav_ul .b_nav1.highlight:hover, li.b_nav1 a span.hover {
  background: url('../images/banners/index_banner_nav/index_banner_hover.png') 0px 0px no-repeat;
}
#index_banner_nav_ul .index_banner_nav ul li.b_nav1 a.active, .index_banner_nav ul li.b_nav1 a.selected {
  /* hover graphic */
  background: url('../images/banners/index_banner_nav/index_banner_active.png') 0px 0px no-repeat;
  /* Black Nav */
  /*  border-top: 1px solid #5bab46;
      background:none repeat scroll 0 0 #101010;
      border-bottom:1px solid #333333;
      border-left:1px solid #222222;
      border-right:1px solid #444444;*/
      
  /* Light Nav*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #BEBEBE;
}
/*#index_banner_nav_ul .b_nav2 a {
  background: url('../images/banners/index_banner_nav/new/who_small.png') 0px 0px no-repeat;
}*/
#index_banner_nav_ul .b_nav2.highlight:hover, li.b_nav2 a span.hover {
  background: url('../images/banners/index_banner_nav/index_banner_hover.png') 0px 0px no-repeat;
}
#index_banner_nav_ul .index_banner_nav ul li.b_nav2 a.active, .index_banner_nav ul li.b_nav2 a.selected {
  /* hover graphic */
  background: url('../images/banners/index_banner_nav/index_banner_active.png') 0px 0px no-repeat;
  /* Black Nav */
  /*  border-top: 1px solid #5bab46;
      background:none repeat scroll 0 0 #101010;
      border-bottom:1px solid #333333;
      border-left:1px solid #222222;
      border-right:1px solid #444444;*/
      
  /* Light Nav*/
  background: none repeat scroll 0 0 rgba(91, 171, 70, 0.2);
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #BEBEBE;
}
/*#index_banner_nav_ul .b_nav3 a {
  background: url('../images/banners/index_banner_nav/new/what_small.png') 0px 0px no-repeat;
}*/
#index_banner_nav_ul .b_nav3.highlight:hover, li.b_nav3 a span.hover {
  background: url('../images/banners/index_banner_nav/index_banner_hover.png') 0px 0px no-repeat;
}
#index_banner_nav_ul .index_banner_nav ul li.b_nav3 a.active, .index_banner_nav ul li.b_nav3 a.selected {
  /* hover graphic */
  background: url('../images/banners/index_banner_nav/index_banner_active.png') 0px 0px no-repeat;
  /* Black Nav */
  /*  border-top: 1px solid #5bab46;
      background:none repeat scroll 0 0 #101010;
      border-bottom:1px solid #333333;
      border-left:1px solid #222222;
      border-right:1px solid #444444;*/
      
  /* Light Nav*/
  background: none repeat scroll 0 0 rgba(217, 59, 39, 0.2);
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #BEBEBE;
}
/*#index_banner_nav_ul .b_nav4 a {
  background: url('../images/banners/index_banner_nav/new/why_small.png') 0px 0px no-repeat;
}*/
#index_banner_nav_ul .b_nav4.highlight:hover, li.b_nav4 a span.hover {
  background: url('../images/banners/index_banner_nav/index_banner_hover.png') 0px 0px no-repeat;
}
#index_banner_nav_ul .index_banner_nav ul li.b_nav4 a.active, .index_banner_nav ul li.b_nav4 a.selected {
  /* hover graphic */
  background: url('../images/banners/index_banner_nav/index_banner_active.png') 0px 0px no-repeat;
  /* Black Nav */
  /*  border-top: 1px solid #5bab46;
      background:none repeat scroll 0 0 #101010;
      border-bottom:1px solid #333333;
      border-left:1px solid #222222;
      border-right:1px solid #444444;*/
      
  /* Light Nav*/
  background: none repeat scroll 0 0 rgba(57, 141, 204, 0.2);
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #BEBEBE;
}
#index_banner_nav_ul .b_nav5.highlight:hover, li.b_nav5 a span.hover {
  background: url('../images/banners/index_banner_nav/index_banner_hover.png') 0px 0px no-repeat;
}
#index_banner_nav_ul .index_banner_nav ul li.b_nav5 a.active, .index_banner_nav ul li.b_nav5 a.selected {
  /* hover graphic */
  background: url('../images/banners/index_banner_nav/index_banner_active.png') 0px 0px no-repeat;
  /* Black Nav */
  /*  border-top: 1px solid #5bab46;
      background:none repeat scroll 0 0 #101010;
      border-bottom:1px solid #333333;
      border-left:1px solid #222222;
      border-right:1px solid #444444;*/
      
  /* Light Nav*/
  background: none repeat scroll 0 0 rgba(247, 178, 25, 0.2);
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #BEBEBE;
}
.index_banner_nav img {
    padding-top: 3px;
}
/*************************************************************************************************************************************/
/******************************************************************************************* OVERLAY *********************************/
div.overlay { 
  position: relative;
  width:512px; 
  height:288px; 
  background-image:url(../images/overlay/apple.png); 
  display:none; 
  padding: 0 !important; 
}
div.overlay.overlay-large {
  width:768px; 
  height:432px;
}
div.overlay div.close { 
  background:url(../images/overlay/apple-close.png) no-repeat; 
  position:absolute; 
  right:-21px;
  top:-11px;
  width:35px;
  z-index:11000;
  height: 35px; 
  cursor:pointer; 
}
#player, #player embed, #player object { 
  height:288px;
  left:0px;
  position:absolute;
  top:0px;
  width:512px;
} 
div.overlay.overlay-large #player, div.overlay.overlay-large #player embed, div.overlay.overlay-large #player object {
  width:768px; 
  height:432px;
}
#player embed, #player object { 
  position:relative;
  z-index:10000; 
}
.details { 
  position:absolute; 
  top:15px; 
  right:15px; 
  font-size:11px; 
  color:#fff; 
  width:150px; 
}  
.details h3 { 
  color:#aba; 
  font-size:15px; 
  margin:0 0 -10px 0; 
}
/*************************************************************************************************************************************/
/******************************************************************************************* TOOL TIPS (TipTip) **********************/
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #222;
/*  text-shadow: 0 0 1px #333;*/
	padding: 4px 8px;
	border: 1px solid #81c90c;
	border: 1px solid rgba(97,165,16,1);
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#ffffff));*/
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: 0 0 3px #333;
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #81c90c;
	border-top-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #81c90c;
	border-bottom-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #81c90c;
	border-right-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #81c90c;
	border-left-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(97,165,16);
	border-top-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(97,165,16);
	border-bottom-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(97,165,16);
	border-right-color: rgba(97,165,16,1);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(97,165,16);
	border-left-color: rgba(97,165,16,1);
}

/*************************************************************************************************************************************/
/************************************************************************************************* WEBKIT HACKS **********************/
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(255,255,255,1);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(85,85,85,1);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(85,85,85,1);
	}
	#schedule_dates input[type="radio"] {
    float: right;
    margin-top: 1px;
    margin-right: 4px;
  }
  #schedule_dates input[type=text] {
    float: right;
    margin: -3px 0px 7px 14px;
  }
  #report_schedule_panel #report_frequency_day_count, #report_schedule_panel #report_schedule_end_day_count {
  	width: 20px;
  	margin:-3px 10px 7px 11px;
  	clear: none;
  }
}
// Disable text selection outside of IE
.iPhoneCheckContainer, 
.iPhoneCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}
#signup_form form .iPhoneCheckContainer label {
	margin: 0px;
}
.iPhoneCheckDisabled {  
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }


.iPhoneCheckContainer {
	cursor:pointer;
	float:left;
	height:27px;
	margin-right:10px;
	margin-top:-5px;
	overflow:hidden;
	position:relative;
}
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px; 
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  label.iPhoneCheckLabelOn {
    color: #fff;
    background: url('../images/on.png') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px; }
    label.iPhoneCheckLabelOn span {
      padding-left: 8px; }
  label.iPhoneCheckLabelOff {
    color: #8B8B8B;
    background: url('../images/off.png') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0; }
    label.iPhoneCheckLabelOff span {
      padding-right: 8px; }
    
.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../images/slider_left.png') no-repeat;
  padding-left: 3px; }
  .iPhoneCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../images/slider_right.png') no-repeat right 0; }
  .iPhoneCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('../images/slider_center.png'); }