html {overflow:hidden;}
body {overflow-y: hidden; overflow-y: auto;}

#internal #flash {left: 50%;margin-left: -470px;}
#internal #wrapper {margin: 0px; width: 100%; min-width: 1024px;}
#internal #mast_header {height: 64px;}
#internal footer {height: 30px; border-top: 3px solid #3058BF;}
#internal header {height: 69px;}
#internal #main_nav {margin-top: 24px; }
#internal #logo {background: url("../images/logo_internal.png") no-repeat scroll 0 0 transparent;height: 119px;left: 75px;top: -3px;width: 277px;}

#sidebar {border-right: 1px solid #999; width: 230px; min-height: 600px; position:relative; float: left; text-align:center;}
#internal_nav {padding-top: 50px;}
#sidebar #internal_nav header {font-size: 20px;text-align: center;font-weight: 700;border-bottom: 1px solid #B1B1B1;height: 30px; float:none;}
.sub_header {font-size: 14px; padding: 10px 20px; background: #efefef;}
.segemnt_header {font-size: 14px; font-weight:700; padding-bottom: 5px;}
.terms {padding: 10px; text-align: left; font-size: 12px;}
.sidebar_segment {border-top: 1px solid white;padding: 20px;border-bottom: 1px solid #B1B1B1;position: relative;float: left;width: 190px;}
#internal_nav li {position: relative; border-top: 1px solid #fff; border-bottom: 1px solid #B1B1B1; font-weight: 700; text-align: left;}
#internal_nav li:hover {background: #ccc; background: rgba(0,0,0,0.2);}
#internal_nav li a {position: relative; width: 190px; height: 100%; padding: 10px 20px; display: block; text-decoration: none;}
#internal_nav li.active, #internal_nav li.active:hover {
	color:#fff;
	background: rgb(32,109,176); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNmRiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDQ3ODIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(32,109,176,1) 0%, rgba(20,71,130,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,109,176,1)), color-stop(100%,rgba(20,71,130,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(32,109,176,1) 0%,rgba(20,71,130,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(32,109,176,1) 0%,rgba(20,71,130,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(32,109,176,1) 0%,rgba(20,71,130,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(32,109,176,1) 0%,rgba(20,71,130,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206db0', endColorstr='#144782',GradientType=0 ); /* IE6-8 */
}
#internal_nav li.active a, #internal_nav li.active:hover a {color:#fff;}
#content {position: relative; border-left: 1px solid #fff; min-height: 600px; padding: 0px; width: 792px;overflow-y: auto;}
#notification_header {position: relative; min-height: 66px; padding: 7px 0; border-bottom: 1px solid #b1b1b1;}
#notification {padding: 10px; color:#fff; font-size: 16px; font-weight: 700; margin: 0 20px 0; position: relative;}
#notification .close {position: absolute; cursor: pointer; top: -6px;right: 54px;font-weight: 700;background: white;text-align: center;width: 20px;height: 20px;display: block;line-height: 22px;}
#internal_content {position: relative; border-top: 1px solid white; float:left;}

#notification.notice1 {border: 4px solid #03B12D; background: #6EC583; background: rgba(3, 177, 45, 0.5);}
#notification.notice1 .close {color: #03B12D;border: 1px solid #03B12D;}

.product_listings {padding: 20px; position: relative; float:left;}
.product_listings li {list-style: none; border: 1px solid #ccc; border-top:1px solid #aaa; border-bottom: 1px solid #fff; font-size: 14px; background: #f3f3f3;}
.listed_section, .listed_product {position: relative; float: left;}
.listed_product {width: 100%;}
.listed_section {padding: 13px 10px 9px;}
.listed_section a.listed_action_link {color:#206db0; float:right;}
.listed_section a.listed_action_link:hover {color:#144782;}
#internal_content .product_listings header {height: 20px; width: 200px;}
.product_description {width: 250px;}
.product_location {width: 334px;}
.product_location span {display: block; float: left; padding: 0px 10px 0px;}
.product_location form {float: left; margin-top: -10px;}
.product_location .field {width: 100%;}
.product_location .field input {float: left;}
.product_location .field input.button {margin-left: 10px;}
#assigned_submit {background: #C4E3FD;}
#internal_content #assigned_submit header.listed_section {width: 375px;}
#internal_content #assigned_submit .listed_section.assigned_submit_button {float:right;padding-right: 13px;}

.message_form {text-align: left;}
.message_form textarea {width: 185px; height: 70px; margin-bottom: 5px;}

#internal_content #add_ons {padding: 10px; width: 640px;}
#notification_header  #cart {position: relative;top: -6px;right: 1px;float: right;}
#internal_content .full_row {width: 640px;}
#internal_content h2.page_header {padding-top: 5px;}
