<ul id="internal_nav">
	<header><%= user_name %></header>
	<li><%= link_to "My Products", dashboard_path %></li>
	<li><%= link_to "My Orders", orders_path %></li>
</ul>
<segment class="sidebar_segment">
	<%= link_to "Purchase Addons", "", :class => "button red_button" %>
</segment>
<segment id="alarm_widget" class="sidebar_segment"> 
	<header>Alarm.com Login Widget</header>
</segment>