<ul id="internal_nav">
	<header><%= user_name %></header>
	<li><%= link_to "My Products", "" %></li>
	<li><%= link_to "My Orders", "" %></li>
</ul>
<%= separator %>
<div id="alarm_widget">
	<header>Alarm.com Login Widget</header>
</div>