<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<%= render partial: 'layouts/internal_notifications' %>
<div id="internal_content">
    
    <ul id="product_listings">
      <% @order_products.each do |op| %>
        <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
      <% end %>
    </ul>


</div>