<div class="full_row">
	<div class="column_13">
    <h3>
			<%= product.item_name %>
		</h3>
			<%= image_tag(product.photos.last.attachment.url(:thumb)) %>
		<p>
			<%= truncate(product.description, :length => 250, :separator => '') %> <%= link_to "read more", products_path %>
		</p>
	</div>
	<div class="column_23 column_right">
		<h3>
			Residential Security
		</h3>
		<h4>
			Key Features of Simon XT Alarms
		</h4>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci; suscipit.
			</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci; suscipit.
			</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci; suscipit.
			</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci; suscipit.
			</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci; suscipit.
			</li>
		</ul>
	</div>
</div>