<div class="full_row">
	<div class="column_13">
			<h3>
				<%= blog.title %>
			</h3>
				<%= image_tag(blog.photos.last.attachment.url(:thumb)) %>
			<p>
				<%= truncate(blog.description, :length => 250, :separator => '') %> <%= link_to "read more", blogs_path %>
			</p>
	</div>
	<div class="column_23 column_right">
		<h3>
			Residential Security
		</h3>
		<h4>
			Key Features of Simon XT Alarms
		</h4>
		<ul>
			<li>
			  Fast and easy to setup, compact all in one design.
			</li>
		
			<li>
			  Every unit is expandable to fit your specific needs.
			</li>
			<li>
			  No phone line required, we use State-of-the-art Cellular monitoring.
			</li>
			<li>
			  Completely wireless and easy to install, step-by-step instructions.
			</li>
			<li>
			  All systems we sell are new, factory fresh and come with the most current firmware version.
			</li>
		</ul>
	</div>
</div>