<div class="checkout">
  <div class="full_row">
    <h2 class="page_header">Product Locations - Checkout Step 1:</h2>
  </div>
  <div class="full_row no_top">
    <p>We need to gather some information on the items you want to purchase. This information will allow us to properly program your system. Please name each item in your cart with the appropriate location to where it will be used. e.g. (front door or NW Basement window.)</p>
  </div>
  <div class="full_row no_top">
    
    <div class="column_2">
		  <%= render :partial => 'orders/order_location_form', :locals => {:order => @order, :cart => @cart, :package => @package} %>
  	</div>

  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Forms.validateLocations();
    });
  </script>
<% end %>
