<div class="checkout">
  <div class="full_row">
    <h2 class="page_header">Item Information</h2>
  </div>
  <div class="full_row no_top">
    <p>We need to gather some information on the items you want to purchase. This information will allow us to properly program your system. Please name each item in your cart with the appropriate location to where it will be used. e.g. (front door or NW Basement window.)</p>
  </div>
</div>