<div id="banner_<%= banner_id %>" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">Complete Security Solutions</h2>		
    <h3>
    	The Best in Home Security Systems
    </h3>
		<p>
			Our alarm packages are top of the line intrusion alarm systems available for your home security needs.  Our systems don't rely on our customers having a home phone for alarm signal transmission.  Our systems use state-of-the-art GSM cellular transmission technology.  Never do you have to worry about phone lines being cut or phone service being down when you need it most, with cellular transmission, the call always goes out. Upon an alarm, the signal is transmitted to a 24 hour national emergency monitoring center who notify the proper local authorities.
		</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/simon_alarm.png') %>
	</div>
</div>
        