<div id="banner_<%= banner_id %>" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">Complete Security Solutions</h2>		
    <h3>
    	Castle Protection Security
    </h3>
		<p>
			Quisque tellus felis, luctus et interdum eget, porta eu tortor. Vestibulum lacus risus, condimentum id elementum sed, euismod tristique mi? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer pharetra tincidunt augue imperdiet consectetur. Phasellus pretium dolor id nibh pharetra vel suscipit tortor mattis. Praesent sit amet nulla diam, elementum facilisis sem? Nam sit amet porta est. Donec bibendum aliquet quam, vel accumsan turpis pharetra vitae. Nulla consectetur rutrum velit, quis eleifend enim sollicitudin nec. Donec scelerisque, lorem vitae commodo ultricies, ipsum est tincidunt tellus.
		</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/alarm1.png') %>
	</div>
</div>
        