<div class="full_row no_bottom">
	<h2 class="page_header">Get Castle Protection Sytems</h2>
</div>
<div class="full_row no_top">
  <div class="column_2">
<%= render :partial => "supports/form", :locals => {:support => @support} %>
  <h3>Castle Protection Inc.</h3>
  <p>
		<%= render :partial => 'pages/sub_page_address' %>
  </p>
	</div>
</div>