<div class="full_row">
	<div class="sub_pages faq">
		<h2>
			Frequently Asked Questions 
		</h2>
		<h3>
			Unable to find the answer to your question? Contact Support
		</h3>
		<h4>
			How easy is the system to install?
		</h4>
		<p>
			Very Easy! The system comes preprogrammed for most options that will be required. Other options are user programmed that you can perform on your own. The door and window contacts mount with very sturdy double stick tape (supplied) and the motion detector mounts with either (2) small screws (supplied) or you can use double stick tape for those as well. The control panel/keypad simply needs to be plugged into an electrical outlet. We find most people opt for placing the unit on a kitchen counter or nightstand. It can easily be mounted to the wall, but does not have to be.
		</p>
		<h4>
			What happens if I lose power?
		</h4>
		<p>
			The system has battery backup for power loss (typically 24 hours). Once power is lost, the system automatically switches to battery backup so you do not lose protection.
		</p>
		<h4>
			Can the system be hardwired?
		</h4>
		<p>
			Yes. If you have an existing system that you would like to use the hardwired devices for, this can be done. However, it is more involved. If you would like to do this, please contact us for more information on how to accomplish this.
		</p>
		<h4>
			Can I unplug the control panel with no issues?
		</h4>
		<p>
			Yes. Since the system has battery backup, you can move the system freely. Before sending any intentional signals to the monitoring station, we suggest you call them to let them know what you are planning so they will know what to expect.
		</p>
		<h4>
			Will the system tell me when the batteries are running low?
		</h4>
		<p>
			Yes. 
		</p>
		<h4>
			How far away can the sensors be from the control panel?
		</h4>
		<p>
			1,000 feet in open air, however walls will reduce that amount. It would be very unusual for the devices to not work in even the larger homes. 
		</p>
		<h4>
			What if I Move? Can I take the system with me?
		</h4>
		<p>
			Yes! Just let us know when you are taking the system down and when you put it back up with the new address. 
		</p>
		<h4>
			Will my pets set off the motion detectors?
		</h4>
		<p>
			The motion detectors are pet immune for a COMBINED weight of up to 40 pounds. 
		</p>
		<h4>
			How long will the batteries for the sensors last?
		</h4>
		<p>
			Typically (5) years, however this depends on usage. If you have a heavy usage sensor, like a front door that gets used a lot, this could be shortened to (2) years. 
		</p>
		<h4>
			How many wireless sensors can I have on one system?
		</h4>
		<p>
			40 Sensors. 
		</p>
	</div>
</div>