<div class="full_row">
	<div class="sub_pages faq">
		<h2>
			Frequently Asked Questions 
		</h2>
		<h3>
			Unable to find the answer to your question? Contact Support
		</h3>
		<h4>
			How do I test my system?
		</h4>
		<p>
			To ensure your GE wireless alarm monitoring system is communicating properly, an alarm will have to be sent to the alarm company monitoring station. Call the alarm company monitoring station to place your account on test; this is to prevent false alarms. The number to the alarm company monitoring station is 555-555-5555. Ask for Customer Care. The alarm company monitoring station will ask you to provide them with your name or the address where the system is located and your password. You will be able to place the account on test for one hour. After your account has been placed on test, please follow these steps.
		</p>
		<ul>
			<li>
				1. Arm system by pressing the Arm Doors and Windows button twice.
			</li>
			<li>
				2. Press the Arm Motion button once.
			</li>
			<li>
				3. When the panel stops beeping, your exit delay has expired. The system is now armed.
			</li>
			<li>
				4. Now open an entry/exit door. When the alarm sounds close the door. Open and close all remaining entry/exit doors.
			</li>
			<li>
				5. With the alarm still sounding, open and close all remaining doors and window that are contacted.
			</li>
			<li>
				6. With the alarm still sounding, walk in front of the motion detector.
			</li>
			<li>
				7. With the alarm still sounding, open the panel cover until the panel starts talking. Close the cover. This will activate the panel Tamper.
			</li>
			<li>
				8. Now press and hold the Emergency Aux Button for three seconds.
			</li>
			<li>
				9. Now press and hold the Emergency Police button for three seconds.
			</li>
			<li>
				10. Repeat this step on the second Emergency Aux button as well.
			</li>
		</ul>
		<p>
			Reminder: The motion detector can only be activated once every four minutes. If you walked in front of the motion you will need to wait at least four minutes, while the alarm is still sounding, before the motion detector will detect you again.
		</p>
		<ul>
			<li>
				11. Disarm the system with the 4-digit Master Code. The System Status light will be on.
			</li>
			<li>
				12. Press System Status button. This will indicate which zones have been activated.
			</li>
		</ul>
		<p>
			Important Note: Listen carefully to make sure that all zones have been activated. Not all panics will be mentioned. Only the last panic pressed will be mentioned.
		</p>
		<ul>
			<li>
				13. If any zones are not mentioned, re-arm the system. Trip only those specific devices that were not indicated by the panel.
			</li>
			<li>
				14. Enter the 4-digit Master Code to disarm system.
			</li>
			<li>
				15. Press System Status button. This will indicate that each specific device has been activated.
			</li>
		</ul>
		<p>
			Special Note: Listen carefully again to make sure all zones are mentioned, including the zones that were not mentioned the first time that the System Status was checked.
		</p>
		<ul>
			<li>
				16. Now that all the signals for all zones have been verified press System Status. Immediately after the system stops talking, press the Disarm button to clear the alarm memory.
			</li>
			<li>
				17. If all zones are closed, the System Status light will now be off.
			</li>
			<li>
				18. Wait 3 to 4 minutes and call the alarm company monitoring station to verify the signals have been received.
			</li>
			<li>
				19. If the alarm company monitoring station received the signals, notify the operator to take your account off test. Your monthly system test is now complete.
			</li>
			<li>
				20. If the alarm company monitoring station did not receive the signals, call Technical Support at (555)555-5555.
			</li>
		</ul>
		<h5>
			Changing the master code:
		</h5>
		<ul>
			<li>
				1. Open the cover.
			</li>
			<li>
				2. Using the red numbered keys enter the existing 4-digit Master Code. The panel will say, "Please select from Start Menu."
			</li>
			<li>
				3. Press the Add button. The panel will say, "Select from Main Menu."
			</li>
			<li>
				4. Press the Access Code button one time. The panel will say, "Master Code, press again for next Access Code or Done to select."
			</li>
			<li>
				5. Press the Done button. The Panel will say, "Use numbered keys to enter Master Code."
			</li>
			<li>
				6. Enter the new Master Code. The panel will repeat the new Master Code.
			</li>
			<li>
				7. Close the cover when completed.
			</li>
		</ul>
		<h5>
			Programming additional user codes:
		</h5>
		<p>
			Note: System can have up to five access codes in addition to the Master Code.
		</p>
		<ul>
			<li>
				1. Open the cover.
			</li>
			<li>
				2. Using the red numbered keys enter the 4-digit Master Code. The panel will say, "Please select from Start Menu."
			</li>
			<li>
				3. Press Add. The panel will say, "Please select from Main Menu".
			</li>
			<li>
				4. Press Access Code. The panel will say, "Master Code press again for next Access Code or Done to select".
			</li>
			<li>
				5. Press Access Code again. The panel will say, "Access code 1 press again for next access code or Done to select".
			</li>
			<li>
				6. Press Done. The panel will say, "Use number keys to enter access code 1".
			</li>
			<li>
				7. Enter access code. The panel will repeat access code.
			</li>
			<li>
				8. Close the cover when completed.
			</li>
		</ul>
		<p>
			Note: For additional access codes repeat steps 1 through 5. At Step 3 continue pressing "Access Code" button until you hear the next available location, i.e. access code 2.
		</p>
	</div>
</div>