<% if cart %>
<div id="cart" >
    <ul>
      <li><span>Package:</span> <%= @cart.package.name %></li>
      <% cart.items.each do |p| %>
      <li><%= p.item_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>