<% @listings.each do |list| %>
  <% unless list.monitoring_addon %>
    <ul>
      <li>Product Name: <b><%= list.item_name %></b></li>
      <li>Placement Order: <b><%= list.list_order %></b></li><br />
    </ul>
  <% end %>
<% end %>

<h2 class"page_header">Ex. Monitor Order</h2>
<% @listings.each do |list| %>
  <% if list.monitoring_addon %>
    <ul>
      <li>Product Name: <b><%= list.item_name %></b></li>
      <li>Placement Order: <b><%= list.list_order %></b></li><br />
    </ul>
  <% end %>
<% end %>
    