<ul class="package_bullets">
	<li>(1) - Alarm Keypad/Control Panel</li>
	<li>(2) - Door Contact Sensors</li>
	<li>(1) - Motion Sensor Detector</li>
	<li>$35.95/month Base monitoring package</li>
</ul>