
	<div class="product_wrap">
		<%= image_tag(product.photos.last.attachment.url(:thumb), :class => "blue_bg") %>
		<h3>
			<%= (product.item_name).titleize %>
		</h3>	
		
		<p class="text">
			<%= product.description %>
		</p>
	</div>