<%= form_for(order_product, url: location_update_path) do |op| %>
	<div class="field">
		<%= op.text_field :product_location, class: "location_field", item_id: order_product.id %>
		<%#= op.submit "Update", class: "button blue_button" %>
	</div>
<% end %>