<div class="full_row">
	<div class="admin_form_wrap">
		<h1>
			Edit <%= @product.item_name %>
		</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
	</div>
</div>
