<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>Submission Errors</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>